body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    font-size: 18px;
}

.nav a {
    color: #1e08e0;
    text-decoration: none;
    padding: 0 15px;
}

.nav a:hover {
    text-decoration: underline;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.logo {
    margin-bottom: 30px;
}

.search-box {
    width: 580px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 0 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  
}

.search-box:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 10px;
}

.search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
    float: right;
    border-radius: 24px;

}

.button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
 
/*ACA COMIENZA ESTILOS DE ADVANCE SEARCH*/

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    
}

.separator {
    border-bottom: 1px solid #ebebeb;
    margin: 40px 0;
}

.search-section {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.left-col {
    width: 200px;
    font-size: 13px;
}

.right-col {
    flex-grow: 1;
}

#textInput {
    width: 100%;
    padding: 7px;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
}

#textSubmit {
    background-color: #4d90fe;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    float: right;
    cursor: pointer;
}

#textSubmit:hover {
    background-color: #357abd;
}

.instructions {
    font-size: 11px;
    color: #666;
    margin-left: 5px;
}

.example {
    font-size: 11px;
    color: #666;
    margin-top: 5px;
}